/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	z-index: 0;
	background-color: #FFFEF8;
}


main {
	min-height: 700px;	
}

header {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	width: 100%;
}


header a {
	text-decoration: none;
}

header li a:visited {
	color: #000;
	
}

section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	text-align: center;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	font-family: 'Work Sans';
	padding: 0 10px;
	font-size: 1.2em;
	font-weight: 400;
}

#onPage {
	font-weight: 600;
}

.nav_link {
	color: #000;
	cursor: pointer;
}

.nav_link:hover {
	color: #B1663C;
}

/* fin header */

#introduction {
	display: flex;
	align-items: center;
	max-width: 950px;
	margin: auto;
	margin-top: 100px;
}
#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
	text-align: start;
	margin-left: 60px;
}

#introduction p {
	margin-bottom: 0.5em;
	font-weight: 400;
	font-size: 14px;
	margin: 15px 0 0 60px ;
}

.projets {
	position: relative;
}

.projets p {
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 14px;
	position: absolute;
	top: 15%;
	left : 62%;
}

#portfolio {
	margin-top: 100px;
}

#portfolio h2 {
	text-align: center;
	padding: 0 0 50px 0;
}
.gallery {
	width: 100%;
	max-width: 950px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	margin: auto;
	margin-top: 50px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption {
	padding: 5px 0;
}


/* mise em page des catégories pour la section projets */

.categories {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 0;
}

.categories div {
	display: flex;
	gap: 10px;
}

.categories p {
	display: block;
	border: 1px solid #1D6154;
	color: #1D6154;
	border-radius: 60px;
	padding: 9px 20px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	cursor: pointer;
}

.categories p:hover {
	background-color: #1D6154;
	color: #fff;
}

/* fin section catégorie*/

#login {
	padding-top: 10%;
}

#contact, #login {
	width: 50%;
	margin: auto;	
	width: 379px;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2 {
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#login form {
	margin-top: 0;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

.forgetedPassword a {
	color:#000;
}

.error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 50px;
}

.error-message p {
	width: 100%;
	background-color: #fff;
	border: solid 1px #B1663C;
	padding: 10px;
	line-height: 20px;
	color: red;
	font-weight: 600;
}



/* fin section contact et login*/

footer {
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;

}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	height: 60px;
}

footer nav li {
	margin: 0 107px;
	
}

/* partie de la modale */

#introduction .modifier {
 margin: 15px 0;
}

.modifier {
	cursor: pointer;
}

.modale {
	display: none;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: #000;
	gap: 20px;
	position: absolute;
	right: 0;
	left: 0;
	top:0;
	z-index: 2;
}

.modale .indicateur-mode {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
}

.modale .publier {
	display: block;
	background: #FFFFFF;
	border-radius: 60px;
	width: 216px;
	height: 38px;
	text-align: center;
	line-height: 40px;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
}

.shift {
	position: relative;
	top : 50px;
}

/* fenetres de la modale et background associé*/


.darker-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.modale_fenetre {
	display: flex;
	position: relative;
	top: 150px;
	width: 630px;	
	margin: auto;
	z-index: 3;
}

.modale_galerie, .modale_image {
	position: absolute;
	background: #FFFFFF;
	border-radius: 10px;
	margin:0;
	z-index: 2;
	top: 470px;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.modale_galerie_fermeture, .modale_image_navigation  {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 22px;
	width: 100%;
	height: 50px;
}

.modale_galerie p {
	margin: 20px 0 45px 0;
	font-weight: 400;
	font-size: 26px;
}

.separation {
	width: 420px;
	height: 0px;
	border: 1px solid #B3B3B3;
	margin: 47px 9px 35px 9px ;
}

/* code spécifique à la fenêtre modale galerie*/

.modale_galerie {
	display: none;
	height: 730px;
}
.modale_galerie_fermeture i {
	height: 40px;
	width: 60px;
	padding-top: 60px;
	cursor: pointer;
}

.modale_galerie_images {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	width: 415px;
	height: fit-content;
}

.miniature {
	width: 78px;
	position: relative;
	margin: 5px 0 5px 0;
}

.miniature p {
	font-weight: 400;
	font-size: 12px;	
	margin: 0;
}

.miniature i {
	display: block;
	background-color: #000;
	color: #fff;
	height: 17px;
	width: 17px;
	font-size: 10px;
	position: absolute;
	right: 7px;
	top: 7px;
	text-align: center;
	line-height: 17px;
	border-radius: 2px;
	cursor: pointer;
}

.miniature img{
	width: 100%;
}

#resize-icon {
	display: none;
	right: 27px;
}

.miniature:hover > #resize-icon {
	display: block;
}

#modale_galerie_supprimer {
	color: #D65353;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-top: 23px;
	cursor: pointer;
}

.ajout-photo {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	width: 273px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border-radius: 60px;
	cursor: pointer;
}
/* code spécifique à la fevetre modale ajout image*/

.modale_image {
	display: none;
	flex-direction: column;
	height: 670px;
}
.modale_image_navigation {
	justify-content: space-between;
}

.modale_image_navigation i {
	height: 40px;
	width: 60px;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}

.modale_image p {
	margin: 20px 0 20px 0;
	font-weight: 400;
	font-size: 26px;
}

#ajout-image {
	background-color: #E8F1F6;
	border-radius: 3px;
	width: 420px;
	height: 169px;
	margin: 10px;
}

#ajout-image p {
	font-weight: 400;
	font-size: 10px;
	margin: 0;
}

#ajout-image i {
	color: #B9C5CC;
	width: 58px;
	height: 46px;
	font-size: 58px;
}

#ajout-image label {
	width: 173px;
	height: 36px;
	background: #CBD6DC;
	color: #306685;
	border-radius: 50px;
	text-align: center;
	line-height:36px;
	margin: 20px 0 7px 0;
}

.import-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	height: 100%;
}

.apercu {
	display: none;
	background-color: #CBD6DC;
	height: 100%;
	margin: auto;
	width: 130px;
	overflow: hidden;
}

.apercu img {
	width: 100%;
}

.modale_image form, #login form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

.modale_image input, select {
	height: 50px;
	width: 420px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: auto;
} 

.modale_image input:invalid {
	border: solid #D65353 2px;
}

.modale_image form label {
	color: #3D3D3D;
	margin: 20px 0 10px 8px;

}
.modale_image input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	width: 237px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: none;
	margin: 0 101.5px;
	cursor: pointer;
}

.modale_image input[type="submit"]:disabled {
	background-color: #A7A7A7;
}
